* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  scroll-padding-top: 40px;
  scroll-behavior: smooth;
}
:root {
  --purple-btn: #5b25b3;
  --purple-dark: #4d1f98;
  --purple-int: #ba9beb;
  --purple-light: #f9f3ff;
  --yellow-default: #ffdb55;
  --green-default: #00b084;
  --width-menu-initial: auto;
}

header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  box-shadow: 2px 2px 15px rgb(50, 50, 50, 0.3);
  border-bottom: 1px solid #ddd;
  padding: 10px;
  width: 100%;
}
#logo {
  height: 41px;
}
.bx-menu {
  font-size: 35px;
  cursor: pointer;
  display: none;
}
nav {
  display: flex;
  align-items: center;
  gap: 15px;
}
.hd-links {
  display: flex;
  gap: 8px;
}
.hd-links a {
  color: black;
  text-decoration: none;
  padding: 2px 5px;
  font-size: 17px;
}
.hd-links a:hover {
  color: var(--purple-btn);
}
.pg-button {
  background: var(--purple-btn);
  color: #fff;
  cursor: pointer;
  padding: 8px 16px;
  border: none;
  border-radius: 20px;
  font-weight: 500;
}
.pg-button:hover {
  background: var(--purple-dark);
}
/* ------------------------------- Home --------------------------- */
#home {
  padding: 50px;
  padding-top: 75px;
}
#home .hm-separator {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.hm-1 img {
  width: 400px;
}
.hm-2 h1 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 35px;
}
.association {
  border-bottom: 2px solid #aaa;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  padding-bottom: 20px;
}
/* ------------------------------- About --------------------------- */

#about {
  padding: 50px;
  display: flex;
  gap: 30px;
}
.ab-1 h2 {
  font-size: 28px;
  font-weight: 600;
}
.ab-1 p {
  margin: 35px 0;
}
.button-type-2 {
  border: 2px solid var(--purple-btn);
  background: white;
  color: var(--purple-btn);
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 20px;
  font-weight: 500;
  transition: 200ms ease-in;
}
.button-type-2:hover {
  background: var(--purple-light);
}
.ab-2 img {
  width: 400px;
}

/* ------------------------------- Solution --------------------------- */

#solution {
  background: var(--purple-btn);
  color: white;
  padding: 50px;
  display: flex;
  gap: 40px;
}
.slt-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.content-icon {
  display: flex;
  gap: 50px;
}
.content-icon img {
  width: 60px;
}
.content-icon p {
  font-size: 15px;
}
.slt-2 {
  width: 700px;
}
.slt-2 h2 {
  font-size: 26px;
  font-weight: 600;
}
.slt-2 p {
  margin: 35px 0;
  font-weight: 300;
}
.button-type-3 {
  border: none;
  background: white;
  color: var(--purple-btn);
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 20px;
  font-weight: 600;
  transition: 100ms ease-in;
}
.button-type-3:hover {
  opacity: 0.8;
}

/* ------------------------------- Contact --------------------------- */

#contact {
  background: var(--purple-dark);
  color: white;
  padding: 30px 50px;
  display: grid;
  grid-template-areas:
    "cont-1 cont-2 cont-3 cont-4"
    "copy copy copy copy";
}
.cont-1 {
  grid-area: cont-1;
}
.cont-2 {
  grid-area: cont-2;
}
.cont-3 {
  grid-area: cont-3;
}
.cont-4 {
  grid-area: cont-4;
}
.display-contact > span {
  display: block;
}
.display-contact h3 {
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 30px;
}
.display-contact span a {
  color: white;
  text-decoration: none;
  font-size: 15px;
}
.display-contact a:hover {
  color: var(--green-default);
  text-decoration: underline;
}
.copyright {
  color: white;
  font-size: 15px;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  grid-area: copy;
}
.copyright a {
  text-decoration: none;
  color: white;
}
.copyright a:hover {
  text-decoration: underline;
}
/* --------------------------- @media ---------------------- */
@media (max-width: 800px) {
  .hd-links {
    gap: 2px;
  }
  .hd-links a {
    font-size: 15px;
  }
  #home {
    padding: 65px 40px 0px;
  }
  .hm-separator {
    padding: 20px 0;
  }
  .hm-1 img {
    width: 300px;
  }
  .hm-2 h1 {
    font-size: 28px;
  }
  #about {
    padding: 40px;
  }
  .ab-1 h2 {
    font-size: 26px;
  }
  .ab-2 img {
    width: 300px;
  }
  #solution {
    padding: 40px;
    flex-direction: column-reverse;
  }
  .slt-1 {
    flex-direction: row;
    gap: 30px;
  }
  .content-icon {
    gap: 30px;
    align-items: center;
    flex-direction: column;
  }
  .slt-2 {
    width: auto;
  }
  #contact {
    padding: 40px;
  }
  .copyright {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 680px) {
  :root {
    --width-menu-initial: 0;
    --width-menu: 200px;
  }
  .hd-links {
    gap: 8px;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  .bx-menu {
    display: block;
  }
  nav {
    width: 0;
    background: #fff;
    box-shadow: 2px 8px 1rem #ccc;
    flex-direction: column;
    height: 100%;
    padding-top: 20px;
    position: fixed;
    top: 62px;
    right: 0;
    overflow: hidden;
    transition: width 250ms;
  }
  nav .pg-button {
    position: absolute;
    top: 175px;
    min-width: 115px;
    border-radius: 40px;
  }
  #about {
    flex-direction: column;
    align-items: center;
  }
  .ab-2 img {
    width: 60vw;
  }
}

@media (max-width: 550px) {
  #logo {
    height: 32px;
  }
  nav {
    top: 56px;
  }
  .hm-separator {
    flex-direction: column;
  }
  .ab-2 img {
    width: 75vw;
  }
}

@media(max-width: 485px) {
  :root {
    --width-menu: 160px;
  }
  .slt-1 {
    flex-wrap: wrap;
  }
  .content-icon {
    width: 52vw;
  }
  #contact {
    grid-template-areas: 
    "cont-1 cont-2"
    "cont-3 cont-4"
    "copy copy"
    ;
    gap: 15px 50px;
  }
}

@media (max-width: 390px) {
  #home {
    padding: 50px 30px 0;
  }
  .hm-separator {
    padding: 30px 0;
  }
  .association img {
    height: 24px;
  }
  .association img:last-child {
    height: 50px;
  }
  .hm-1 img {
    width: 100%;
  }
  .hm-2 h1 {
    font-size: 26px;
  }
  #about {
    padding: 30px;
  }
  .ab-1 h2 {
    font-size: 25px;
  }
  .ab-2 img {
    width: 100%;
  }
  #solution {
    padding: 30px;
  }
  .content-icon {
    width: 100%;
  }
  .content-icon img {
    width: 70px;
  }
  .slt-2 h2 {
    font-size: 25px;
  }
  #contact {
    padding: 30px 30px 20px;
    gap: 27px 32px;
  }
  .display-contact h3 {
    margin-bottom: 20px;
  }
}